{{ define "main" }}
<div class="container main-content-area section-{{ .Section }}">

    {{ if eq .Kind "section" }}
        {{ partial "section-hero.html" . }}
    {{ end }}

    <div class="articles-list-container">
        {{ $pages := .Pages }}
        {{ if eq .Section "posts" }}
            {{ $pages = .Site.RegularPages }}
        {{ end }}

        {{ range $pages.ByDate.Reverse }}
            <a href="{{ .Permalink }}" class="article-card-horizontal">
                {{ with .Params.image }}
                    <div class="image-container">
                        <img src="{{ . | absURL }}"
                             alt="{{ with $.Params.image_alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}"
                             loading="lazy">
                    </div>
                {{ end }}

                <div class="content-container">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary | truncate 200 }}</p>

                    <div class="horizontal-card-footer">
                        <span class="read-more-btn">Pročitaj Više</span>

                        {{/* OVAJ DEO JE SADA UNIVERZALAN */}}
                        {{ if .Params.mesec_destinacije }}
                            <span class="article-date-mid">{{ .Params.mesec_destinacije }}</span>
                         {{ end }}

                        {{ with .Params.categories }}
                            <span class="article-section-tag">
                                {{ index . 0 }}
                            </span>
                        {{ end }}
                    </div>
                </div>
            </a>
        {{ end }}
    </div>
</div>
{{ end }}