{{ define "main" }}
<div class="container main-content-area section-{{ .Section }}"> 
    <h1 class="section-title">{{ .Title | default "Svi Članci" }}</h1>
    <div class="articles-list-container">
    {{ if eq .Section "posts" }}
        {{ range .Site.RegularPages.ByDate.Reverse }}  
            <a href="{{ .Permalink }}" class="article-card-horizontal">
                {{ with .Params.image }}
                    <div class="image-container">
                        <img src="{{ . | relURL }}" alt="{{ with $.Params.image_alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}" loading="lazy">
                    </div>
                {{ end }}
                <div class="content-container">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary | truncate 200 }}</p>
                    <span class="read-more-btn">Pročitaj Više</span>
                </div>
            </a>
        {{ end }}
    {{ else }}
        {{ range .Paginator.Pages }} 
            <a href="{{ .Permalink }}" class="article-card-horizontal">
                {{ with .Params.image }}
                    <div class="image-container">
                        <img src="{{ . | relURL }}" alt="{{ with $.Params.image_alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}" loading="lazy">
                    </div>
                {{ end }}
                <div class="content-container">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary | truncate 200 }}</p>
                    <span class="read-more-btn">Pročitaj Više</span>
                </div>
            </a>
        {{ end }}
    {{ end }}
    </div>

    {{ partial "pagination.html" . }}
</div> {{ end }}