<div class="faq-box">
    <h3>{{ .Get "title" | default "Često postavljana pitanja" }}</h3>
    {{ .Inner }} {{/* Prvo izvršavamo unutrašnje elemente da napunimo listu */}}
</div>

{{ if .Scratch.Get "faq_items" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- $all_items := .Scratch.Get "faq_items" -}}
    {{- $limit_items := first 5 $all_items -}}
    {{- range $index, $element := $limit_items -}}
    {{- if $index }},{{ end -}}
    {
      "@type": "Question",
      "name": {{ $element.question | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $element.answer | plainify | jsonify }}
      }
    }
    {{- end -}}
  ]
}
</script>
{{ end }}